#navbar {
    height: 5rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 3;
    background-color: #333; 
    color: white;
}

#navbarlogo {
    height: 3rem;
    width: 4rem;
    object-fit: cover;
}

#navitems {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}

.navitem {
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
}

.navitem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

#navbutton {
    height: 2rem;
    width: auto;
    background: whitesmoke;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#navbutton:hover {
    background-color: #0056b3;
    color: white;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    #navitems {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    #navbutton {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #navbar {
        padding: 1rem;
    }
    #navitems {
        gap: 0.5rem;
    }
    .navitem {
        font-size: 1rem;
    }
}
#navitemlist{
    color: yellow;
    gap: 10px;
    font-weight: 300;

}
#navitemlist:hover{
    color: red;
    border-bottom: solid red;
}
